<%- include('layout/header') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="card">
          <div class="card-header text-center">
            <h3>Update Team ( <%= team.teamName %> ) Here !!</h3>
          </div>
          <div class="card-body p-4">
            <form action="/updateTeam/<%= team._id %>" method="POST" id="addTeam">
              <div class="form-group mb-3">
                <label for="teamName">Team Name</label>
                <input type="text" name="teamName" id="teamName" class="form-control" value="<%= team.teamName %>"
                  required />
              </div>
              <div class="form-group mb-3">
                <label for="teamWon">Team Won</label>
                <input type="number" name="teamWon" id="teamWon" class="form-control" value="<%= team.teamWon %>"
                  required min="0" />
              </div>
              <div class="form-group mb-3">
                <label for="teamLost">Team Lost</label>
                <input type="number" name="teamLost" id="teamLost" class="form-control" value="<%= team.teamLost %>"
                  required min="0" />
              </div>
              <div class="form-group mb-3">
                <label for="teamDraw">Team Draw</label>
                <input type="number" name="teamDraw" id="teamDraw" class="form-control" value="<%= team.teamDraw %>"
                  required min="0" />
              </div>
              <div class="form-group mb-3">
                <label for="teamPenalty">Team Penalty</label>
                <input type="number" name="teamPenalty" id="teamPenalty" class="form-control"
                  value="<%= team.teamPenalty %>" required min="0" />
              </div>
              <div class="form-group mb-3 text-center">
                <input type="submit" name="submit" value="UpdateTeam" class="btn btn-success" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('layout/footer') %>